/* Logga in sidan */
body.login-page {
  background: linear-gradient(180deg, #334041, #313C3D, #293031);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #000 !important;
}

/* Logga in boxen */
.login-container {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: rgb(21, 21, 21);
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000 !important;
}

.login-form input {
  width: 92%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #f7f5f4;
  color: #000 !important;
}

.login-form input::placeholder {
  color: #000 !important;
}

.login-form button {
  width: 100%;
  background-color: #99957c;
  color: #000 !important;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.login-form button:hover {
  background-color: #b0ac90;
}


@media (max-width: 480px) {
  .login-container {
    width: 100%;
    padding: 35px;
    border-radius: 12px;
  }

  .logo {
    width: 100px;
    margin-bottom: 15px;
  }

  .login-form input {
    width: 90%;
    font-size: 0.9rem;
    padding: 10px;
  }

  .login-form button {
    padding: 10px;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 100%;
    padding: 30px;
  }

  .logo {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .login-container {
    width: 360px;
  }
}
