
/*  */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #334041, #313C3D, #293031);
  color: white;
}

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-layout {
  display: flex;
  flex: 1;
  height: 100%;
}

/* header */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #334041, #313C3D, #293031);
  padding: 10px 20px;
  color: #d4d4d4;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar-logo {
  width: 60px;
  height: 65px;
}

.topbar-right button {
  background: none;
  border: none;
  padding: 10px 32px;
  border-radius: 6px;
  cursor: pointer;
}

.topbar-right .btn-user 
{ background-color: #92a596c1 !important;
  color: rgb(231, 228, 228);
  margin-right: 10px;
}

.topbar-right .btn-logout 
{ background-color: #525150 !important;
  color: rgb(231, 228, 228);
}

/* chat header */
.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d6d0d0;
  padding: 10px;
  min-height: 60px;
  color: #f3efef;
}

.chat-header-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #99957c;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat-header h3 {
  font-size: 1.4rem;
  margin: 0;
}

/* kanaler/meddelanden */
.sidebar {
  width: 200px;
  background: linear-gradient(180deg, #415153, #435051, #282d2e);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f3efef;
  border-bottom: 1px solid #d6d0d0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 6px 0;
  cursor: pointer;
}

.sidebar li.active {
  font-weight: 600;
  color: #99957c;
}

.sidebar li:hover {
  color: #99957c;
}

/* chatten */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #334041, #313C3D, #293031);
  padding: 10px;
  max-width: 1000px;  
  width: 100%;
}

.chat-header {
  border-bottom: 1px solid #d6d0d0;
}

/* Meddelanden */
.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  max-width: 1000px;
}

/* avsändare + meddelande */
.message-group {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

/* Namnet över bubblan */
.sender-name {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 4px;
  color: #cfcfcf;
}

.message-bubble {
  padding: 10px 30px;
  border-radius: 14px;
  margin: 10px;
  word-wrap: break-word;
  background-color: #d9d9d9;
  color: #2f2f2f;
  line-height: 1.4;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  white-space: pre-wrap; 
  transition: all 0.2s ease;
}

/* meddelanden (vänster) */
.received {
  align-self: flex-start;
}

.received .message-bubble {
  background-color: #92a596c1;
  border-top-left-radius: 0;
}

/* meddelanden (höger) */
.sent {
  align-self: flex-end;
  text-align: right;
}

.sent .sender-name {
  align-self: flex-end;
}

.sent .message-bubble {
  background-color: #d0dfd3c1;
  border-top-right-radius: 0;
}

/* Input */
.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  max-width: 1000px;  
  width: 100%;
  margin: 0 auto;     
  padding-top: 10px;
  border-top: 1px solid #dcd8d8;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #f3f1f1;
  color: rgb(0, 0, 0);
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #92a596b3;
  color: white;
  cursor: pointer;
}

/* höger reklamruta */
.side-panel {
  width: 250px;
  background: linear-gradient(180deg, #3e4b4c, #2f393a);
  padding: 15px;
  border-left: 1px solid #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e0e0e0;
}

.side-panel img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
